/* UserDashBoard.module.css */

.container {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  min-height: 100vh;
  background-color: #9E5AFF;
}

.content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-grow: 1;
  padding: 20px;
}

.formContainer,
.leftSVG,
.rightSVG {
  flex: 1;
}

.formContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

input,
select {
  padding: 12px;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  margin-bottom: 10px;
  transition: border-color 0.3s ease;
  width: 100%; /* Mantenha a largura em 100% */
  max-width: calc(100% - 0px); /* Adicione esta linha */
  box-sizing: border-box; /* Adicione esta linha */
}

input:focus,
select:focus {
  border-color: #9E5AFF;
}

button {
  background-color: #FFAA1B;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: #7e49d3;
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  max-width: 400px;
}

.leftSVG,
.rightSVG {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.leftSVG {
  background-image: url('./../../assets/images/agente.svg');
}

.rightSVG {
  background-image: url('./../../assets/images/moradora.svg');
}

@media (max-width: 1024px) {
  .leftSVG,
  .rightSVG {
    display: none;
  }

  .content {
    flex-direction: column;
    align-items: center;
  }

  .formContainer {
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
  }
}

@media (max-width: 425px) {
  input,
  select,
  button {
    font-size: 14px;
  }

  .formContainer {
    padding: 10px;
  }
}
